/* h2{
    color: brown;
} */
.text-center{
    padding-top: 60px;
    font-size: 56px;
    /* background-color: aliceblue; */
}
.container-fluid{
    /* background-color: aliceblue; */
}
/* .container{
    background-color: aliceblue;
} */